{% load custom_filters %}
<!DOCTYPE html>
<html>
<head><title>Preview</title></head>
<body>
    <h2>Preview of {{ file.file.name|cut:"uploads/" }} </h2>

    {% if error %}
        <p style="color:red;">Error: {{ error }}</p>
    {% endif %}

    {% if sheet_names %}
    <form method="get">
        {% if sheet_names %}
            <label for="sheet">Sheet:</label>
            <select name="sheet" id="sheet">
                {% for name in sheet_names %}
                    <option value="{{ name }}" {% if name == selected_sheet %}selected{% endif %}>
                        {{ name }}
                    </option>
                {% endfor %}
            </select>
        {% endif %}
        &nbsp;&nbsp;
        <label>
            <input type="checkbox" name="trim" {% if trim %}checked{% endif %} onchange="this.form.submit()"> Trim Whitespace
        </label>
        <button type="submit">Apply</button>
    </form>
    {% endif %}

    <form method="post" action="{% url 'validate_file' file.id %}">
        {% csrf_token %}
        <h4>Column Validation Rules:</h4>
        <table>
            <tr>
                {% for col in columns %}
                    <th>
                        {{ col }}<br>
                        <small style="color: gray;">{{ column_types|get_item:col }}</small><br>
                        <label>
                            <input type="checkbox" name="required_columns" value="{{ col }}">
                            Required
                        </label>
                    </th>
                {% endfor %}
            </tr>
        </table>
        <br>
        <button type="submit">Validate Data</button>
    </form>
    

    {% if rows %}
        <table border="1">
            <thead>
                <tr>
                    {% for col in columns %}
                    <th>
                        {{ col }}<br>
                        <small style="color: gray;">{{ column_types|get_item:col }}</small>
                    </th>                    
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                    <tr>
                        {% for col in columns %}
                            <td>{{ row|get_item:col }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</body>
</html>
